body {
  background: rgb(145, 191, 236);
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

#recipeList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}

#postBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

#postform input[type="text"], 
#postform textarea[type="text"] {
  border: 2px solid gray;
  border-radius: 5px;
}

.backBtn {
  border: 1px solid black;
  margin-left: 20px;
  background: burlywood;
  font-weight: 600;
}

#singleRecipe {
  line-height: 1.8;
  padding: 10px;
  margin: 20px;
  
}